# Environment & IDE
.idea/
.vscode/
*.swp
*.log

# Build Artifacts & Large Files
*.apk
*.zip
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/

# Assets Uploads
assets/uploads/leaves/*
!assets/uploads/leaves/.gitkeep

# Secrets
.env
